   <footer>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <div class="footer-copyright text-center py-3">© 2017-2020 Copyright -
        <a href="https://discord.io/underground_server"> ClearlyElevated & Lutu Administration Team</a>
     <div>
       
        </div><a href="//www.dmca.com/Protection/Status.aspx?ID=792446bb-a456-4015-adeb-ce5506662721" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-11.png?ID=792446bb-a456-4015-adeb-ce5506662721"  alt="DMCA.com Protection Status" /></a>  <div>
        
        </div> <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script> 
     <a href="https://dev.to/clearlyelevated">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="ClearlyElevated's DEV Profile" height="30" width="30">
</a>
<div style="line-height:16px;text-align:center;"><a href="https://www.ipnoid.com/"><img src="//www.ipnoid.com/tracker/1201/4684NR-IPIB/21618/1/njsUrl/" alt="Free online store gdpr compliant ip tracker code" style="border:0px;"></a><div><a style="font-size:12px;text-decoration:none;" href="https://www.ipnoid.com/"></a></div></div>        
    
      </footer>
  </body>
</html>
